@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Mei 2017

=============================================================================================================== */



@media all and (max-width:1050px){

    
	
    /* header

    ================================================================================================================= */
	
    /* middle homepage

    ================================================================================================================= */
    .left_section_b h3{
        font-size: 78px;
        line-height: 72px;
    }
    .outer_circle{
        max-width: 500px;
    }
	
    /* middle contentpage

    ================================================================================================================= */
	
    /* footer

    ================================================================================================================= */
	
	
}