 @charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Desember 2016

=============================================================================================================== */



@media all and (max-width:1023px){

  

    

    /* header

    ================================================================================================================= */
    .logo_kly{
        max-width: 60px;
    }
    .main_menu ul li a,.contactMenu{
        margin-left: 15px;
        font-size: 13px;
    }

    /* middle homepage

    ================================================================================================================= */
    .left_section_b h3{
        font-size: 60px;
        line-height: 60px;
    }
    .outer_circle{
        max-width: 400px;
    }
    .dots_doodle_right_works{
        max-width: 300px;
        bottom: 0;
    }
    .owl-carousel_works.owl-theme .owl-nav{
        padding-right: 5em;
        top: -70px;
    }
    /* popup

    ================================================================================================================= */
   
    /* middle contentpage

    ================================================================================================================= */

    /* footer

    ================================================================================================================= */


}

